.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user_form input{
    width: 454px;
    height: 35px;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 3px;
}

.user_form button{
    width: 94px;
    height: 43px;
    font-size: 18px;
    font-weight: 600;
}
.user_form{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    align-items: center;
    justify-content: center;
    width: 689px;
    height: 279px;
}

.user_input_head{
    
    font-size: 29px;

}